* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(74, 0, 0);
    font-family: Garamond, "Times New Roman", serif;
    color: rgb(230, 192, 131);
}

.sec1{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(28, 12, 12);
    color: rgb(193, 160, 84);
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    align-items: center;
}

a{
    text-decoration: none;
}

button {
    border: none;
}

.cafe {
    transition: transform 0.3s ease;
    margin-left: 20px;
    margin-right: 10px;
}

.cafe:hover{
    transform: scale(1.05) translateY(-5px);
    text-shadow: 0px 5px 15px rgba(133, 35, 35, 0.3);
    background: linear-gradient(135deg, rgb(178, 209, 52), rgb(156, 25, 25));
    -webkit-background-clip: text;
    color: transparent;
}

.sec1-1 {
    grid-column: 1;
}

.sec1-2 {
    grid-column: 2;
    justify-self: end;

}

.top-btn{
    background: linear-gradient(135deg, rgb(167, 40, 40), rgb(79, 28, 28));
    color: rgb(230, 192, 131);
    border: 2px solid rgb(87, 15, 15);
    padding: 10px 20px;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 50px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.top-btn:hover{
    transform: scale(1.05) translateX(-5px);
    box-shadow: 0 0 25px rgb(162, 117, 40);
}

.contact-btn{
    background: linear-gradient(135deg, rgb(36, 110, 36), rgb(60, 151, 60));
    color: rgb(230, 192, 131);
    font-size: 50px;
    margin-right: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 20px;
}
.contact-btn button{
        font-family: "Times New Roman";
}
.contact-btn:hover {
    transform: scale(1.05) translateX(-5px);
    box-shadow: 0 0 25px rgb(107, 187, 98);
}

#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.background-img{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home-text{
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 1000px;
    padding: 30px;
    align-content: center;
}

.home-h1{
    font-size: 100px;
    margin-bottom: 30px;
}

.home-text p {
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 30px;
    
}

.home-text button {
    margin-top: 20px;
    font-size: 65px
}

#about h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 100px;
    margin-left: 30px;
    text-align: center;
}

#about p{
    margin-left: 30px;
    font-size: 50px;
    margin-right: 30px;
    margin-bottom: 100px;
}

.rights{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-container{
    max-width: 750px;
    border-radius: 20px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(28,12,12);
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 0 5px white;
}
.contact-container:hover{
    transform: scale(1.005) translateY(-5px);
    box-shadow: 0 0 10px;
}
.contact-container h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.contact-container p{
    font-size: 30px;
    margin-bottom: 20px;
}
.contact-container .contact-btn{
    margin-bottom: 20px;
}
.contact-container button{
    font-size: 40px;
    padding: 10px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    background-color: rgb(95, 20, 20);
    border-radius: 20px;
}
.contact-form label{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
}
.contact-form input, .contact-form textarea{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(193, 160, 84);
    background-color: rgb(236, 226, 153);
    margin-left: 20px;
    margin-right: 20px;
}

.submit-btn{
    background: linear-gradient(135deg, rgb(255, 234, 157), rgb(255, 202, 12));
    border: 1px solid brown;
    border-radius: 20px;
    width: 40%;
    font-family: "Times New Roman";
    font-weight: bold;
    color: rgb(89, 18, 18);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: center;
}

.submit-btn:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 25px;
    color: #333;
}

.menu-container{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.menu-container h1{
    font-size: 70px;
    color: rgb(230, 192, 131);
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(199, 167, 50);
    padding-bottom: 20px;
}

.card-part{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.card{
    background-color: rgb(28, 12, 12);
    border: 2px solid rgb(193, 160, 84);
    border-radius: 20px;
    width: 320px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(252, 229, 28);
    transition: 0.3s ease;
}

.card:hover{
    transform: scale(1.005) translateY(-5px);
}
.card p {
    padding: 8px;
}

.card h3{
    text-align: center;
    padding: 8px;
}
.card-img {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
